<?xml version = "1.0" encoding="GBK"?>
<ROOT titleimg="title.png" title="XMIDWARE云桌面1" bgimg="image/bgimage.jpg">
<SCREEN ICON="resource://icon_11" id="0" name="欢迎首页" loadswf="welcome.swf">
</SCREEN>
<SCREEN ICON="resource://icon_21" id="1" name="个人桌面" act="often">
	<SUBSYTROOT x="10" y="10" w="800" h="600" ICON="resource://icon_11" name="文档">
	<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>010004</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>Windows桌面</NAME>
			<ICON>image/temp/MYWORD.png</ICON>
			<URL>http://vapp.xmidware.com/xlsgrid/ROOT_TRAPOL/show.sp?grdid=RunVAPP&amp;vappid=XPDESK&amp;thissytid=TRAPOL&amp;usrid=xlsgrid&amp;userpwd=0</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>010005</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>我的电脑</NAME>
			<ICON>resource://icon_meel</ICON>
			<URL>http://xmidware.com/xlsgrid/ROOT_0/show.sp?grdid=webdirmgr&amp;usrid=xlsgrid&amp;userpwd=0</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000001</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>WORD</NAME>
			<ICON>image/temp/WORD.jpg</ICON>
			<URL>http://vapp.xmidware.com/xlsgrid/ROOT_TRAPOL/show.sp?grdid=RunVAPP&amp;vappid=WORD&amp;thissytid=TRAPOL&amp;usrid=xlsgrid&amp;userpwd=0</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000002</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>PPT</NAME>
			<ICON>image/temp/PPT.jpg</ICON>
			<URL>http://vapp.xmidware.com/xlsgrid/ROOT_TRAPOL/show.sp?grdid=RunVAPP&amp;vappid=PPT&amp;thissytid=TRAPOL&amp;usrid=xlsgrid&amp;userpwd=0</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000003</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>EXCEL</NAME>
			<ICON>image/temp/EXCEL.jpg</ICON>
			<URL>http://vapp.xmidware.com/xlsgrid/ROOT_TRAPOL/show.sp?grdid=RunVAPP&amp;vappid=EXCEL&amp;thissytid=TRAPOL&amp;usrid=xlsgrid&amp;userpwd=0</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
			</SUBSYTROOT>
	<SUBSYTROOT x="10" y="10" w="800" h="600" ICON="resource://icon_21" name="其他">
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000004</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>我的文档</NAME>
			<ICON>image/temp/MYWORD.png</ICON>
			<URL></URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000005</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>共享文档</NAME>
			<ICON>resource://icon_meel</ICON>
			<URL>http://www.soso.com/</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		</SUBSYTROOT>
</SCREEN>
<SCREEN ICON="resource://icon_17" id="0" name="内部系统" accid="PSI">
<SUBSYTROOT GUID="SCREEN3-1" x="10" y="10" w="800" h="600" ICON="image/temp/12709.png" name="业务1">
	<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000007</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>主界面</NAME>
			<ICON>image/temp/14221.png</ICON>
			<URL>http://vapp.xmidware.com/xlsgrid/ROOT_TRAPOL/show.sp?grdid=RunVAPP&amp;vappid=ISOGraph&amp;thissytid=TRAPOL&amp;usrid=xlsgrid&amp;userpwd=0</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000008</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用1</NAME>
			<ICON>image/temp/511790.png</ICON>
			<URL>http://vapp.xmidware.com/xlsgrid/ROOT_TRAPOL/SSO.sp?id=TESCO&amp;usrid=xlsgrid&amp;userpwd=0</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000009</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用2</NAME>
			<ICON>image/temp/511778.png</ICON>
			<URL>page/1.html</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
	</SUBSYTROOT>
	<SUBSYTROOT GUID="SCREEN3-2" x="10" y="10" w="800" h="600" ICON="image/temp/43302.png" name="业务2">
		<SUBSYT x="10" y="10" w="800" h="400" >
			<GUID>0000010</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用3</NAME>
			<ICON>resource://icon_huohu</ICON>
			<URL>http://www.soso.com/</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000011</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用4</NAME>
			<ICON>resource://icon_dengdai</ICON>
			<URL>http://www.soso.com/</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
	</SUBSYTROOT>
</SCREEN>
<SCREEN ICON="resource://icon_element" id="1" name="证券端系统" accid="PSI">
	<SUBSYTROOT GUID="SCREEN4-1" x="10" y="10" w="800" h="600" ICON="image/temp/511778.png" name="业务">
	<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000012</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>主界面</NAME>
			<ICON>image/temp/001.png</ICON>
			<URL>http://vapp.xmidware.com/xlsgrid/ROOT_TRAPOL/show.sp?grdid=RunVAPP&amp;vappid=U8ERP&amp;thissytid=TRAPOL&amp;usrid=xlsgrid&amp;userpwd=0</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000013</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用1</NAME>
			<ICON>image/temp/002.png</ICON>
			<URL></URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000014</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用2</NAME>
			<ICON>resource://icon_setup</ICON>
			<URL>page/1.html</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
	</SUBSYTROOT>
	<SUBSYTROOT GUID="SCREEN4-2" x="10" y="10" w="800" h="600" ICON="resource://icon_element" name="资料">
		<SUBSYT x="10" y="10" w="800" h="400" >
			<GUID>000015</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用3</NAME>
			<ICON>resource://icon_huohu</ICON>
			<URL></URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000016</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用4</NAME>
			<ICON>resource://icon_dengdai</ICON>
			<URL>http://www.soso.com/</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
	</SUBSYTROOT>
</SCREEN>

<SCREEN ICON="resource://icon_css" id="3" name="银行端系统" ACCID="FIN">
	<SUBSYTROOT GUID="SCREEN5-1" x="10" y="10" w="800" h="600" ICON="resource://icon_12" name="业务处理">
	<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000017</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>主界面</NAME>
			<ICON>image/temp/005.jpg</ICON>
			<URL>http://vapp.xmidware.com/xlsgrid/ROOT_TRAPOL/show.sp?grdid=RunVAPP&amp;vappid=U8ADMIN&amp;thissytid=TRAPOL&amp;usrid=xlsgrid&amp;userpwd=0</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000018</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用10</NAME>
			<ICON>resource://icon_oupeng</ICON>
			<URL>http://www.soso.com/</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="700" h="600" >
			<GUID>000019</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用11</NAME>
			<ICON>resource://icon_meel</ICON>
			<URL>http://www.soso.com/</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
	</SUBSYTROOT>
	<SUBSYTROOT GUID="SCREEN5-2"  x="10" y="10" w="800" h="600" ICON="resource://icon_19" name="公司共享">
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000020</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用12</NAME>
			<ICON>resource://icon_meel</ICON>
			<URL></URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
		<SUBSYT x="10" y="10" w="800" h="600" >
			<GUID>000021</GUID>
			<SYTID>MNERP</SYTID>
			<ID>1</ID>
			<NAME>APP应用13</NAME>
			<ICON>resource://icon_lock</ICON>
			<URL>http://www.soso.com/</URL>
			<URLTARGET></URLTARGET>
		</SUBSYT>
</SUBSYTROOT>
</SCREEN>
<SCREEN ICON="resource://icon_14" id="5" name="开发平台" url="http://vapp.xmidware.com/xlsgrid/ROOT_TRAPOL/framelayout.sp?leftgrdid=integration&amp;rightflowid=mwbase.flow&amp;rightflowsyt=x&amp;usrid=xlsgrid&amp;userpwd=0" urltarget="_blank">
</SCREEN>
<SCREEN ICON="resource://icon_complete" id="6" name="重新登录" url="http://vapp.xmidware.com/" urltarget="_parent">
</SCREEN>
</ROOT>